/*Codes By Mahdi Tasha*/
/*Importing Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*Variables*/
:root {
    --light-blue: #1b3d8d;
    --dark-blue: #070f26;
    --light-blue-rgba: #20316b;
    --light-white: #e7e7e7;
}

/*Global Styles*/
button {cursor: pointer;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

/*Styles*/
.w-100 {width: 100%;}
.w-50 {width: 50%;}
.d-flex {display: flex;}
.d-inline-flex {display: inline-flex;}
.jc-center {justify-content: center;}
.jc-end {justify-content: end;}
.ai-center {align-items: center;}
.jc-sb {justify-content: space-between;}
.p-1 {padding: 1rem;}
.c-white {color: white;}
.c-light-blue {color: var(--light-blue);}
.header-bg {background: linear-gradient(to bottom, #6b71a6, #2f427c);}
.bg-dark-blue {background-color: #080e24;}
.mr-dot-5 {margin-right: .5rem;}
.mr-1 {margin-right: 1rem;}
.bg-none {background-color: unset;}
.b-none {border: none;}
.c-light-white {color: var(--light-white);}
.bg-light-blue {background: var(--light-blue);}
.bg-light-blue-rgba {background: var(--light-blue-rgba);}
.w-1 {width: 1rem;}
.h-1 {height: 1rem;}
.w-2 {width: 2rem;}
.h-2 {height: 2rem;}
.circle {border-radius: 100%;}
.fw-normal {font-weight: normal;}
.mr-3 {margin-right: 3rem;}
.d-none {display: none;}
.d-none {display: none;}
.w-30 {width: 30%;}
.w-20 {width: 20%;}
.w-3 {width: 3rem;}
.h-3 {height: 3rem;}
.p-dot-5 {padding: .5rem;}
.rounded {border-radius: 1.5rem;}
.jc-start {justify-content: start;}
.flex-d-c {flex-direction: column;}
.w-80 {width: 80%;}
.grid-parent-4 {display: grid;grid-template-columns: repeat(4, 1fr);}
.gap-col-1 {column-gap: 1rem;}
.h-100 {height: 100%;}
.ai-end {align-items: end;}
.rounded-10 {border-radius: 10rem;}
.outline-5-light-blue-rgba {outline: 5px solid #30478b;}
.logo-fill {background-color: #5a8cdf;}
.card-bg {background-color: #30478b;}
.card-icons-bg {background-color: #1b3168;}
.c-light-blue {color: #4995ee;}
.c-orange {color: #ef9c95;}
.c-pink {color: #ed9fee;}
.grid-parent-2 {display: grid;grid-template-columns: repeat(2, 1fr);}
.gap-col-dot-5 {column-gap: .5rem;}
.grid-row-2 {grid-row: span 2;}
.b-1-light-white {border: 1px solid rgba(231, 231, 231, 0.2);}
.c-lighter-light {color: rgba(231, 231, 231, 0.5);}
.mb-1 {margin-bottom: 1rem;}
.list-unstyled {list-style: none;}
.slider {height: 2px;}
.mb-dot-5 {margin-bottom: .5rem;}
.bg-pink {background-color: #ed9fee;}
.logo-parent-bg {background-color: rgba(90, 140, 223, 0.5);}
.hover-bg-white:hover {background-color: var(--light-white);color: var(--light-blue);}
.transition {transition: .2s;}
.ai-start {align-items: start;}
.c-chevron-blue {color: #5a8af1;}
.rounded-dot-5 {border-radius: .5rem;}
.p-l-r-b-1 {padding: 0 1rem 1rem 1rem;}
.transition-dot-5 {transition: .5s;}
.hover-outline-light-white:hover {outline: 5px solid rgba(163, 163, 163, 0.5);}
.h-1-dot-5 {height: 1.5rem;}
.w-1-dot-5 {width: 1.5rem;}
.w-25 {width: 25%;}
.c-light-top-btn {color: rgba(231, 231, 231, 0.5);}
.jc-sa {justify-content: space-around;}
.hover-bg-white-times-top:hover {background-color: rgba(231, 231, 231, 0.4);}
.bg-orange {background-color: #ef9c95;}
.bg-slider-light-blue {background-color: #4b6ba4;}